/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.fixedMenu {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: all 0.5s ease;
}

.hidden {
    transform: translateY(-100%);
    transition: all 0.5s ease;
}


/************************************ header *************************/

header {
    background-color: rgb(255, 193, 193);
    color: rgba(230, 62, 62, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
}

/************************************* Nav Section *******************************/

.mainHead {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: relative;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    min-height: 10vh;
    padding: .4rem 0rem;
    color: black;
    font-size: 1.2rem;
}

#logo {
    flex: 1 1 20rem;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navLinks {
    display: flex;
    justify-content: space-around;
    flex: 1 1 20rem;
}

.navLinks a {
    color: #fff;
    transition: all 0.5s ease;
}

#logo img {
    width: 50px;
    height: 50px;
}

.burger,
.menu-check {
    display: none;
}

/************************************* section ****************************/

.section {
    background-image: url(/view/img/fondoUno.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}

.imglogo {
    margin-top: 4rem;
}

.parrafoPrimero {
    background-color: #eeeeee;
    color: #000000;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    margin: 2.5rem 3rem;
}

.cuadroGallery {
    background-color: rgba(255, 255, 255, 0.911);
    padding: 1.5rem 4rem;
    border: 3px solid black;
    margin-bottom: 4rem;
    font-size: 2rem;
    transition: all 0.5s ease;
    text-decoration: none;
}

.divCuadro {
    display: flex;
    justify-content: center;
}

/**************************** section carrusel **************************/

.carruselContainer {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transform: translateY(-50%);
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.arrow:hover {
    background: rgba(0, 0, 0, 0.8);
}

.cajas1 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.imgDragon {
    width: 100%;
    max-width: 300px;
    margin: 0 10px;
}

/**************************************** section Dos ****************************/

.section2 {
    background-color: rgb(255, 193, 193);
    margin-top: 2rem;
    padding: 3rem 2rem;
}

.tittle {
    padding: 2rem 0rem;
    font-size: 2rem;
    text-decoration: none;
    color: #ffffff;
    text-shadow: -1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black;
}


/****************************************** services ****************************/

.services {
    padding: 2rem;
}

.servicesWrapper {
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.service {
    height: 500px;
    background-color: rgba(255, 255, 255, 0.603);
    padding: 5rem 0rem;
    flex: 1 1 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.405);
    transition: all 0.5s ease;
}

.service:hover {
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.service img {
    width: 70%;
    height: 100vh;
    object-fit: cover;
}

.service h4 {
    font-size: 1.5rem;
}

.service p {
    text-align: center;
    padding: 25px;
}

/************************************** Login ***********************/
.login {
    height: 100vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 193, 193);
    display: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.loginToggle {
    display: grid;
    position: fixed;
    top: 0;
    background-color: rgb(255, 234, 234);
    transition: opacity 1s ease, transform 0.3s ease;
    animation: loging 1s ease-in-out;
}

.login.logout {
    animation: logouts 1s ease-in-out;
    opacity: 0;
    transition: opacity 1s ease, transform 0.3s ease;
}

.logIn {
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffffd0;
    border-radius: 15px;
}

.forgotPassword {
    text-align: center;
    cursor: pointer;
    padding: 15px;
}

.backToLogin{
    cursor: pointer;
}

.cajaQuote {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

input {
    border: none;
    border-bottom: 2px solid #a00000;
    background: transparent;
}

.buttonLog {
    width: 70px;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin-bottom: 30px;
    cursor: pointer;
}

.buttonLog a {
    color: white;
}

.buttonLog:hover {
    color: rgb(121, 0, 0);
}

.buttonContinue {
    width: 100px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    margin: 20px;
    cursor: pointer;
}

.buttonContinue:hover {
    color: rgb(121, 0, 0);
}

.tamañoLetras {
    font-size: .7rem;
}

.forgotPassword:hover {
    color: rgb(121, 0, 0);
}

.codeVeri {
    cursor: pointer;
}




/**************************** REGISTER **********************/
/* .recovery {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 193, 193);
    transition: opacity 0.3s ease, transform 0.3s ease;
} */

.tableQuote {
    height: 45vh;
    margin-bottom: 1rem;
}
.buttonReg {
    width: 40%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 185, 185, 0.7);
    border-radius: 13px;
    cursor: pointer;
    font-size: 70%;
    justify-content: center;
}

.buttonReg:hover {
    color: rgb(7, 156, 156);
}


/* ***************************SALES************************/
.salesContainer {
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

.titSales {
    font-family: "Krub", sans-serif;
    color: #ffffff;
    text-align: center;
}

.salesTable {
    overflow-x: auto;
    margin-top: 1rem;
}

.salesTable,
.tSales {
    font-size: 13px;
    background-color: #a00000;
    color: #ffffff;
}

.salesTable,
.thSales {
    font-weight: 600;
}

.numberCot {
    text-align: center;
}

.trSales2 {
    font-size: .7em;
    background-color: #ebebeb;
    color: #525252;
    height: 15vh;
}

.trSales1 {
    font-size: .7em;
    background-color: #ebebeb;
    color: #525252;
    height: 15vh;
}

.actionButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

/* ***************************NEW SALE************************/

.newSalesContainer {
    width: 70%;
    padding: 2rem;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
    margin: 2rem auto;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    background-color: #ffffffc7;
}

.newSalesContainer h2 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: white;
    text-align: center;
}

.newSalesForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.newSalesForm label {
    font-size: var(--text);
    color: #444;
    font-weight: 500;
}

.newSalesForm input[type="text"],
.newSalesForm textarea,
.newSalesForm input[type="date"] {
    padding: 0.75rem 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: var(--simpleTesxt);
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.newSalesForm textarea {
    resize: vertical;
    min-height: 120px;
}


.newSalesForm button {
    padding: 0.75rem 1.5rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/******************************* DASHBOARD ******************************/

.dashboardContainer {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
    max-width: 800px;
    margin: 2rem 2rem;
    border: 1px solid #e0e0e0;
}

.dashboardSummary {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.summaryItem {
    background: #f7f9fc;
    border-radius: 8px;
    padding: 1rem;
    border-left: 5px solid #920202c5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.titDash {
    margin-bottom: 20px;
}

/************************************ USERS ****************************************/
.usersContainer {
    margin-top: 15%;
    font-size: 12px;
}

@media (min-width: 550px) {
    .usersContainer {
        padding: 5% 7%;
        font-size: 20px;
    }
}

.usersTable {
    overflow-x: auto;
    border-collapse: collapse;
    margin: 10px;
}

.usersTable th {
    color: white;
    background-color: rgb(3, 3, 3);
}

.usersTable th,
.usersTable td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid rgba(146, 0, 0, 0.7);
}

@media (max-width: 550px) {

    .usersTable th,
    .usersTable td {
        text-align: left;
        padding: 5px;
        border-bottom: 1px solid rgba(146, 0, 0, 0.7);
        height: 10vh;
    }
}

.editButton {
    background-color: rgb(0, 0, 0);
}

.deleteButton {
    background-color: rgb(244, 67, 54);
}

.actionButton {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 12px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 6px 10px;
    margin: 2px;
    border-radius: 4px;
}

/************************************** Footer *********************************/
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    background-color: #ff8c8c9f;
}

.contact {
    padding: 10px;
    font-size: 1.2rem;
    background-color: #ff8c8c9f;
}

.footerDos {
    display: flex;
    justify-content: space-evenly;
}

.dateFooter {
    font-size: .8rem;
    margin-left: 40px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.imgContact {
    height: 5vh;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}


/*********************************** Admin ******************/

.contenidoLogin {
    display: grid;
    grid-template-columns: 25% 75%;
}

.container {
    display: flex;
    align-items: center;
    background-color: rgb(255, 193, 193);
    height: 100vh;
    gap: 7rem;
}

.lista {
    height: 100vh;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.liLogin {
    gap: .5rem;
}

.tamañoLetrasA {
    font-size: 1.4rem;
}

/************************************ GALLERY ****************************************/

.sectionGallery {
    background-image: url(/view/img/fondoUno.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.headerGallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

.navCategory {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.801);
    margin-top: 30px;
}

.category {
    all: unset;
    font-size: 15px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
}


.producto {
    background-color: rgba(255, 255, 255, 0.637);
    padding: .5rem;
}

.productoNombre,
.productoPrecio {
    font-size: 1rem;
    text-align: center;
    line-height: 1.2;
}


@media screen and (max-width:842px) {

    .burger {
        position: relative;
        display: block;
        cursor: pointer;
    }

    .burger span {
        padding: 0.2rem 1.5rem;
        background: black;
        margin: 0.5rem 0rem;
        display: block;
        transition: all .5s ease;
    }

    .navLinks a {
        color: #fff;
        font-size: 2.5rem;
        text-decoration: underline;
    }

    .navLinks {
        background: rgb(255, 193, 193);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        flex-direction: column;
        align-items: center;
        transition: transform 1s ease;
    }

    .menu-check {
        position: absolute;
        display: block;
        top: 50%;
        right: 5%;
        transform: translate(5%, -50%);
        width: 5rem;
        height: 50%;
        cursor: pointer;
        opacity: 0;
        z-index: 100;
    }

    .nav-open {
        transform: translateX(-100%);
    }

    .toggle .line1 {
        transform: rotateZ(45deg) translateY(300%);
        background: white;
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotateZ(-45deg) translateY(-300%);
        background: white;
    }


    .aboutText div {
        padding: 3rem 3rem;
    }
}