/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primario: rgb(255 233 233);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    border-radius: 2%;
}

h1 {
    text-align: center;
}


/************************************ header *************************/

header {
    background-color: var(--primario);
    color: rgba(230, 62, 62, 0.7);
    align-items: center;
    padding: 0rem 2rem;
}

/************************************* Nav Section *******************************/
.botonSubir {
    position: fixed;
    bottom: 0px;
    right: 0;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    z-index: 1;
}


.contenidoLogin {
    background-color: var(--primario);
    min-height: 100vh;
}

.flechaA {
    height: 15vh;
}

.btn-group-vertical>.btn,
.btn-group>.btn {
    font-size: 9px;
    background-color: var(--primario);
    color: #000000;
}

.mainHead {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: relative;
}

nav {
    margin: auto;
    display: flex;
    align-items: center;
    min-height: 10vh;
    padding: .4rem 0rem;
    color: black;
    font-size: 1.2rem;
}

#logo {
    flex: 1 1 20rem;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navLinks {
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex: 1 1 20rem;
    z-index: 1000;
}

.navLinks a {
    color: #fff;
    transition: all 0.5s ease;
}

#logo img {
    width: 50px;
    height: 50px;
}

.burger,
.menu-check {
    display: none;
}

.custom-btn {
    display: inline-block;
    padding: 10px 20px;
    /* Ajusta el padding al tamaño que deseas */
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    /* Elimina el subrayado */
    border: none;
    border-radius: 5px;
    /* Asegúrate de tener bordes redondeados */
    background-color: #ffffff00;
    /* Ajusta el color de fondo */
    color: rgb(0, 0, 0);
    /* Color de texto */
    transition: background-color 0.3s, transform 0.2s ease;
    /* Transición suave */
}

.custom-btn:hover {
    background-color: #f8f9fa;
    /* Cambia el color de fondo al pasar el ratón por encima */
    border-color: #007bff;
    /* Cambia el color del borde al pasar el ratón */
    color: rgb(253, 113, 113);
    /* Cambia el color del texto al pasar el ratón */
}

/************************************* section gallery ****************************/

.section {
    background-image: url(/view/img/fondoUno.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.galeria {
    padding-bottom: 20px;
    padding-top: 40px;
    background-color: var(--primario);
}




.contenedor {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}

.imglogo {
    margin-top: 4rem;
}

.parrafoPrimero {
    background-color: #eeeeee;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    margin: 2.5rem 3rem;
    border-radius: 15px;
    padding: 20px;
}

.cuadroGallery {
    background-color: rgba(255, 255, 255, 0.911);
    padding: 1rem 2rem;
    border: 3px solid black;
    margin-bottom: 2rem;
    margin-top: 20px;
    transition: all 0.5s ease;
    text-decoration: none;
    border-radius: 5px;
}

.divCuadro {
    display: flex;
    justify-content: center;
}

/**************************** section carrusel **************************/

.carruselContainer {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transform: translateY(-50%);
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.arrow:hover {
    background: rgba(0, 0, 0, 0.8);
}

.cajas1 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.imgDragon {
    width: 100%;
    max-width: 300px;
    margin: 0 10px;
}

/* Asegura que las imágenes del carrusel se adapten */
.carousel-item img {
    width: 100%;
    height: 100%;
    /* Ajusta la altura al 100% del contenedor */
    object-fit: contain;
    /* Hace que la imagen no se recorte */
}

.divCuadro a {
    text-align: center;
    display: block;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 5px;
}

.divCuadro a:hover {
    background-color: var(--primario);
}

/**************************************** section Dos ****************************/

.section2 {
    background-color: var(--primario);
    margin-top: 2rem;
    padding: 3rem 2rem;
}

.carousel-item {
    position: relative;
    text-align: center;
}


/****************************************** services ****************************/

.services {
    padding: 2rem;
}

.servicesWrapper {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.service {
    backdrop-filter: blur(4px);
    flex: 1 1 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.405);
    transition: all 0.5s ease;
    padding: .5rem;
    overflow: hidden;
}

.service:hover {
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.service img {
    width: 100%;
    object-fit: cover;
}

.service h4 {
    font-size: 1.5rem;
}

.service p {
    text-align: center;
}


/************************************** Login ***********************/
.login {
    height: 100vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primario);
    display: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.loginToggle {
    display: grid;
    position: fixed;
    top: 0;
    background-color: var(--primario);
    transition: opacity 1s ease, transform 0.3s ease;
    animation: loging 1s ease-in-out;
}

.login.logout {
    animation: logouts 1s ease-in-out;
    opacity: 0;
    transition: opacity 1s ease, transform 0.3s ease;
}

.logIn {
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffffd0;
    border-radius: 15px;
}

.backToLogin {
    cursor: pointer;
}

input {
    border: none;
    border-bottom: 2px solid #a00000;
    background: transparent;
}

.buttonContinue {
    width: 100px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    margin: 20px;
    cursor: pointer;
}

.buttonContinue:hover {
    color: rgb(121, 0, 0);
}

.tamañoLetras {
    font-size: .7rem;
}

.codeVeri {
    cursor: pointer;
}

.tableQuote {
    height: 45vh;
    margin-bottom: 1rem;
}

.buttonReg {
    width: 40%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 185, 185, 0.7);
    border-radius: 13px;
    cursor: pointer;
    font-size: 70%;
    justify-content: center;
}

.buttonReg:hover {
    color: rgb(7, 156, 156);
}


/* ***************************SALES************************/
.newSalesContainer {
    padding: 2rem;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
    margin: 2rem auto;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    background-color: #ffffffc7;
}

.newSalesContainer h2 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: white;
    text-align: center;
}

.newSalesForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.newSalesForm label {
    font-size: var(--text);
    color: #444;
    font-weight: 500;
}

.newSalesForm input[type="text"],
.newSalesForm textarea,
.newSalesForm input[type="date"] {
    padding: 0.75rem 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: var(--simpleTesxt);
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.newSalesForm textarea {
    resize: vertical;
    min-height: 120px;
}


.form-control {
    font-size: 11px;
}

.btn btn-outline-success {
    font-size: 11px;
}

/* ***************************NEW SALE************************/

.card {
    margin-top: 20px;
    margin-bottom: 34px;
}

.cardTittle {
    display: flex;
    gap: 25px;
}



/******************************* DASHBOARD ******************************/

.dashboardContainer {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
    max-width: 800px;
    margin: 2rem 2rem;
    border: 1px solid #e0e0e0;
}

.dashboardSummary {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.summaryItem {
    background: #f7f9fc;
    border-radius: 8px;
    padding: 1rem;
    border-left: 5px solid #920202c5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.titDash {
    margin-bottom: 20px;
}

/************************************ USERS ****************************************/
.usersContainer {
    font-size: 10px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

.usersTable {
    overflow-x: auto;

    margin: 10px;
}

.usersTable th {
    background-color: var(--primario);
}

.usersTable th,
.usersTable td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid rgba(146, 0, 0, 0.7);
}

.editButton {
    background-color: rgb(0, 0, 0);
}

.deleteButton {
    background-color: rgb(244, 67, 54);
}

.actionButton {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 12px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 6px 10px;
    margin: 2px;
    border-radius: 4px;
}

.d-flex {
    width: 100%;
}

.d-flex:hover {
    color: #000000;
}

.btnEliminar {
    background-color: white;
    color: black;
    border-color: #6c757d;
}

.btnEliminar:hover {
    background-color: #dc3545;
    border-color: #dc3545;
}


/************************************** Footer *********************************/
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--primario);
}

.contact {
    padding: 10px;
    font-size: 1.2rem;
    background-color: var(--primario);
    margin-bottom: 0;
}

.footerDos {
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    margin-top: 20px;
}

.dateFooter {
    font-size: .8rem;
    margin-left: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.imgContact {
    height: 10vh;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}


/*********************************** Admin ******************/



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primario);
}

.lista {
    gap: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.tamañoLetrasA {
    font-size: 1.4rem;
}

.imgSvg {
    height: 10vh;
}

.btn-outline-success{
    color: black;
    border-color: black;
}


.btn-outline-success:hover {
    color: black;
    background-color: var(--primario);
    border-color: var(--primario);
}

/************************************ GALLERY ****************************************/

.sectionGallery {
    background-image: url(/view/img/fondoUno.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.headerGallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

.navCategory {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.801);
    margin-top: 30px;
}

.category {
    all: unset;
    font-size: 15px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
}


.producto {
    background-color: rgba(255, 255, 255, 0.637);
    padding: .5rem;
}

.productoNombre,
.productoPrecio {
    font-size: 1rem;
    text-align: center;
    line-height: 1.2;
}

.usersTable th,
.usersTable td {
    padding: 2px;
}

/*********************************** MediaQuerys ******************/


@media screen and (max-width:842px) {

    .burger {
        position: relative;
        display: block;
        cursor: pointer;
    }

    .burger span {
        padding: 0.2rem 1.5rem;
        background: black;
        margin: 0.5rem 0rem;
        display: block;
        transition: all .5s ease;
    }

    .navLinks a {
        color: #000000;
        font-size: 2.5rem;
    }

    .navLinks {
        background: var(--primario);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        flex-direction: column;
        align-items: center;
        transition: transform 1s ease;
    }

    .menu-check {
        position: absolute;
        display: block;
        top: 50%;
        right: 5%;
        transform: translate(5%, -50%);
        width: 5rem;
        height: 50%;
        cursor: pointer;
        opacity: 0;
        z-index: 100;
    }

    .nav-open {
        transform: translateX(-100%);
    }

    .aboutText div {
        padding: 3rem 3rem;
    }


}








/*********************************pantalla*********************************/

@media (min-width: 840px) {

    .contenedor {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row-reverse;
        height: 100%;
    }

    .imgCarrusel {
        max-width: 100%;
        width: 30%;
        height: auto;
        display: block;
    }


    .imglogo {
        margin-top: 8%;
        width: 45%;
        height: 60vh;
    }


    .custom-btn {
        display: inline-block;
        padding: 5px 15px;
        /* Ajusta el padding al tamaño que deseas */
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        /* Elimina el subrayado */
        border-radius: 5px;
        /* Asegúrate de tener bordes redondeados */
        background-color: #ffffff00;
        /* Ajusta el color de fondo */
        color: rgb(0, 0, 0);
        /* Color de texto */
        transition: background-color 0.3s, transform 0.2s ease;
        /* Transición suave */
    }

    .navLinks {
        display: flex;
        justify-content: space-around;
        flex: 1 1 20rem;
        gap: 1.8%;
    }

    .navLinks a {
        color: #000000;
        transition: all 0.5s ease;
    }

    .parrafoPrimero {
        width: 40%;
    }

    /* Ajusta los márgenes y la disposición para pantallas grandes */

    .carousel-item {
        height: 500px;
        /* Ajusta la altura del carrusel en pantallas grandes */
    }

    .carousel-item img {
        object-position: center;
        /* Asegura que las imágenes se mantengan centradas */
    }

    /* Puedes ajustar la altura de los textos en las diapositivas para que no se sobrepongan */
    .carousel-caption {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 28px;
        /* Aumenta el tamaño del texto en pantallas grandes */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        background-color: rgba(0, 0, 0, 0.5);
        padding: 15px;
        border-radius: 5px;
    }


}










@media (min-width: 550px) {
    .usersContainer {
        font-size: 20px;
        background-color: white;
        border-radius: 20px;
        text-align: center;
    }

    .usersTable th,
    .usersTable td {
        text-align: left;
        padding: 5px;
        border-bottom: 1px solid rgba(146, 0, 0, 0.7);
        height: 10vh;
    }
}